*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}


html {
    scroll-behavior: smooth;
}


.list {
    background-color: rgb(51, 49, 49);
    list-style: none;
    position:fixed;
    width:100%;
    z-index: 2;
}


.listitem {
    display: inline-block;
    overflow: hidden;
    font-family: 'Akaya Kanadaka', cursive;
    text-align: center;
    padding-top:4vh;
    padding-bottom:4vh;
    /* margin-top:1vh; */
    /* padding-left: 2px; */
    width: 7%;   
    color: white;
}

.background-image {
    height:99.50vh;
    width:100%;
}

#listid0{
    margin-bottom:1vh;
    margin-right: 41vh;
    margin-left: 10vh;
    font-size: 26px;
}

#listid1{
    margin-bottom:1.5vh;
    font-size: 20px;
}

#listid2{
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 20px;
    width: 20%;  
    background-color: rgb(231, 149, 135);

}

